registry=http://srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 03.03.2019.
; begin auth token
//srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlNqUjBGYnU2R1lNT2psWHptdkxYbHVRdzEtRSJ9.eyJuYW1laWQiOiJlOTNiYjM5NC0xYzRkLTQ1ZjMtOTM1MS00MDRhMjViYTUxNTMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTUxNGViMjctNTMyNC00NGYwLWJjOWEtM2YzMmZhMzIyZGZmIiwic2lkIjoiZDQ5YzI0MzktNDY3Yy00NDVkLTllM2YtZWQ4MmE2YTc2MTQ2IiwiaXNzIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwiYXVkIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwibmJmIjoxNTQzODQyMDM5LCJleHAiOjE1NTE2MTgwMzl9.2SCo_bTWf5jldPmihR2ksjziMpgs1SliXS3vK5rTU4bZK9St2ghAWIOR21PT0SSkBl1WmQwxV4Yjvt8y26fTf9s9jdqzwzDWueXlt1btEeUyIBDr2z3qGFS8TAwPhVjJ9pnTZGx9PYr3vj8ffDXAkbtr5iuC02MK0y9wP6fA7iv49FLxiP8s50tJ1agh6O_aArmpuXP1BXQ-dZVfOPtJw4AeppKr_Tvs9lH6rpMjDV5sfq4muZ6kq0Bv6yk-JxuLcXtdmUQMC_cB5UkkiV7dKQdBOUVbXTLuIUOPD4RX2w9e_tNv2yf165QfvsuWSYi8Y_yqThU1TcUPYMRX5No_6g
//srvnt42-tfs/tfs/Projekty/_packaging/TS-MyeID/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlNqUjBGYnU2R1lNT2psWHptdkxYbHVRdzEtRSJ9.eyJuYW1laWQiOiJlOTNiYjM5NC0xYzRkLTQ1ZjMtOTM1MS00MDRhMjViYTUxNTMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTUxNGViMjctNTMyNC00NGYwLWJjOWEtM2YzMmZhMzIyZGZmIiwic2lkIjoiZDQ5YzI0MzktNDY3Yy00NDVkLTllM2YtZWQ4MmE2YTc2MTQ2IiwiaXNzIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwiYXVkIjoiZjRlMmVjYmItZDc1MS00YzE3LWJiOTMtZDE5MzgxNGQzNjY0IiwibmJmIjoxNTQzODQyMDM5LCJleHAiOjE1NTE2MTgwMzl9.2SCo_bTWf5jldPmihR2ksjziMpgs1SliXS3vK5rTU4bZK9St2ghAWIOR21PT0SSkBl1WmQwxV4Yjvt8y26fTf9s9jdqzwzDWueXlt1btEeUyIBDr2z3qGFS8TAwPhVjJ9pnTZGx9PYr3vj8ffDXAkbtr5iuC02MK0y9wP6fA7iv49FLxiP8s50tJ1agh6O_aArmpuXP1BXQ-dZVfOPtJw4AeppKr_Tvs9lH6rpMjDV5sfq4muZ6kq0Bv6yk-JxuLcXtdmUQMC_cB5UkkiV7dKQdBOUVbXTLuIUOPD4RX2w9e_tNv2yf165QfvsuWSYi8Y_yqThU1TcUPYMRX5No_6g
; end auth token